.technology {
  background: url(../../assets/technology/background-technology-desktop.jpg)
    no-repeat center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10vw;
  text-transform: uppercase;
  mix-blend-mode: screen;
  /* opacity: 0.25%; */
}
.left {
  /* background-color: red; */
  height: 80vh;
  width: 48%;
  margin-left: 0;
}

.title {
  font-family: "Barlow Condensed";
  font-weight: 200;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 0.25rem;
  /* padding-top: 4.25vh; */
  position: absolute;
  top: 20vh;
  left: 10vw;
  color: #ffffff;
}

.title span {
  font-weight: 700;
  opacity: 0.25;
}

.content {
  width: 100%;
  height: 85%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 3rem;
}
.b-bar {
  display: flex;
  height: 80%;
  gap: 3rem;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.info-data {
  width: 90%;
  height: 100%;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.info-data h4 {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.125rem;
  letter-spacing: 2.7px;

  color: #d0d6f9;
}
.tech-name {
  font-family: "Bellefair";
  font-style: normal;
  color: white;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 4rem;
  margin-block: 1rem;
}
.infos p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 2rem;
  /* or 178% */

  color: #d0d6f9;
}
.b-bar > button {
  width: 5rem;
  height: 5rem;
  border: 1.5px rgba(255, 255, 255, 0.25) solid;
  border-radius: 50%;
  background-color: transparent;
  color: white;
  transition: all 250ms ease;
  font-family: "Bellefair";
  font-weight: 400;
  font-size: 2rem;
}
.b-bar > button:hover {
  border-color: white;
}
.b-bar > button:focus {
  background-color: white;
  color: black;
}
.b-bar .open {
  background-color: white;
  color: black;
}

.right {
  width: 33vw;
  height: 80vh;
  /* background-color: green; */
  display: grid;
  place-items: center;
  color: white;
}
.image {
  width: 33vw;
}

@media only screen and (max-width: 1330px) {
  .technology {
    padding-top: 25vh;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    height: max-content;
  }
  .left {
    width: 100%;
    height: fit-content;
    margin-left: 0;
  }
  .right {
    width: 100%;
    height: fit-content;
  }
  .content {
    flex-direction: column;
    width: 100%;
  }
  .b-bar {
    flex-direction: row;
  }
  .infos p {
    width: 75%;
    margin-inline: auto;
  }
  .image {
    width: 100vw;
    height: fit-content;
  }
  .image > img {
    width: 100vw;
  }
}
@media only screen and (max-width: 700px) {
  .infos p {
    font-size: 1.25rem;
    width: 95%;
  }
}
