@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");
.destination {
  background: url(../../assets/destination/background-destination-desktop.jpg)
    center no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-end;
}
.visual-content {
  height: 75vh;
  width: 50vw;
  /* background-color: red; */
  margin-left: 5vw;
  padding-left: 100px;
}
.top {
  font-family: "Barlow Condensed";
  font-weight: 300;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  color: #ffffff;
}
.top span {
  font-weight: 700;
  opacity: 0.25;
}
.planet-img {
  width: 50vh;
  height: 50vh;
  margin-top: 6rem;
  margin-left: 4rem;
}
.description-container {
  height: 75vh;
  width: 45vw;
  padding-top: 10vh;
  padding-left: 1rem;
  /* margin-left: 10vw; */
  /* background-color: blue; */
}
.toggle-buttons {
  display: flex;
  gap: 2.25rem;
}
.toggle-buttons button {
  font-size: 1.25rem;
  border: none;
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 200;
  /* font-size: 28px; */
  line-height: 1.5rem;
  /* identical to box height */
  background: transparent;
  color: #ffffff;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  /* padding-left: 10px; */
  position: relative;
}
.toggle-buttons button::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: white;
  opacity: 0.5;
  transition: width 250ms ease;
}

.toggle-buttons button:hover::after {
  width: 100%;
}
button.active::after {
  width: 100%;
  opacity: 1;
}
.description {
  width: 85%;
  height: 60vh;
  /* background-color: red; */
  color: white;
}
.planet-name {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 7rem;
  padding-top: 2.5rem;
  /* line-height: 8rem; */
  /* margin-top: 2rem; */
  text-transform: uppercase;
}
.planet-description {
  font-size: 1.125rem;
  line-height: 2rem;
  max-width: 46ch;
  font-style: normal;
  color: #d0d6f9;
  font-weight: 300;
  padding-top: 0.5rem;
}
.hor-line {
  width: 80%;
  height: 2px;
  background-color: #383b4b;
  margin-top: 1.75rem;
}
.measurements {
  display: flex;
  gap: 5rem;
  text-transform: uppercase;
  font-weight: 400;
}
.measurements p {
  color: #d0d6f9;
  font-size: 0.8rem;
  padding-top: 0.85rem;
  letter-spacing: 2.36px;
}
.measurements h6 {
  font-size: 1.5rem;
  padding-top: 0.5rem;
}

@media only screen and (max-width: 1330px) {
  .destination {
    background-image: url(../../assets/destination/background-destination-tablet.jpg);
    width: 100vw;
    padding-top: min(15vh, 130px);
    min-height: 100vh;
    height: max-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .visual-content {
    height: fit-content;
    width: 100vw;
    /* background-color: red; */
    margin-left: 0vw;
    padding-left: 0rem;
  }
  .top {
    padding-inline: 2rem;
  }
  .planet-img {
    margin-left: 50%;
    width: max(40vw, 250px);
    height: max(40vw, 250px);
    margin-top: 3rem;
    transform: translateX(-50%);
  }
  .description-container {
    padding-top: 5vw;
    padding-left: 0;
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .planet-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .description {
    height: max-content;
  }
  .planet-description {
    max-width: 85%;
    text-align: center;
  }
}
@media only screen and (max-width: 700px) {
  .destination {
    background-image: url(../../assets/destination/background-destination-mobile.jpg);
  }
  .toggle-buttons {
    display: flex;
    gap: 0rem;
    justify-content: space-evenly;
    width: 100vw;
  }
  .top {
    text-align: center;
  }
  .planet-description {
    font-size: 1.5rem;
  }
  .planet-name {
    font-size: 4.75rem;
  }
  .measurements {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
  }
}
